<div class="container-84-h-auto">

    <div class="col-lg-11 shadow-lg text-white" style="height: 200px;margin: auto;margin-top: 75px;background-color: #121824;border: 2px solid #1b202e">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, perspiciatis.
    </div>

</div>